---
import Layout from "./layout.astro";
---

<Layout  active="kategori8" titlePage="OF" titleColor="primary">
    <div class="container mt-4">
        <div
          class="row"
          id="OF"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
    </div>
</Layout>