---
import Layout from "./layout.astro";
---

<Layout  active="kategori7" titlePage="Foto" titleColor="dark">
    <div class="container mt-4">
        <div
          class="row"
          id="FOTO"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
    </div>
</Layout>