---
import Layout from "./layout.astro";
---

<Layout  active="kategori1" titlePage="Showoff" titleColor="primary">
    <div class="container mt-4">
        <div
          class="row"
          id="SHOWOFF"
        >
        </div>
    </div>
</Layout>