---
import Layout from "./layout.astro";
---

<Layout  active="kategori5" titlePage="Viral" titleColor="warning">
    <div class="container mt-4">
        <div
          class="row"
          id="VIRAL"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
    </div>
</Layout>