---
import Layout from "./layout.astro";
---

<Layout  active="kategori2" titlePage="Nyep" titleColor="success">
    <div class="container mt-4">
        <div
          class="row"
          id="NYEP"
        >
        </div>
    </div>
</Layout>