---
import Layout from "./layout.astro";

const response = await fetch("http://localhost:4321/kolpri/api/SHOWOFF.json")
const data = await response.json()
---

<Layout  active="kategori1" titlePage="Showoff" titleColor="primary">
    <div class="container mt-4">
        <div
          class="row"
          id="SHOWOFF"
        >
        </div>
    </div>
</Layout>