---
import Layout from "./layout.astro";
---

<Layout  active="kategori4" titlePage="Pack" titleColor="light">
    <!-- Nav Button -->
    <div class="container mt-4">
      <div class="d-flex justify-content-center">
        <div
          class="btn-group w-100"
          role="group"
          aria-label="Basic example"
        >
          <a
            href="#PACK-SHOW"
            class="btn btn-outline-primary"
            >Pack Show + Colm</a>
          <a
            href="#PACK-NGEW"
            class="btn btn-outline-success"
            >Pack Ngew</a>
        </div>
      </div>
    </div>

    <!-- Kategori sub 1 -->
    <div>
      <div class="container mt-4">
        <div
          class="alert alert-dark d-flex align-items-center justify-content-center"
          role="alert"
        >
          <h4 class="alert-heading text-center">Pack Show + Colm</h4>
        </div>
      </div>

      <!-- Item (Dinamis) -->
      <div class="container mt-4">
        <div
          class="row"
          id="PACK-SHOW"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
      </div>
    </div>

    <!-- Kategori sub 2 -->
    <div>
      <div class="container mt-4">
        <div
          class="alert alert-dark d-flex align-items-center justify-content-center"
          role="alert"
        >
          <h4 class="alert-heading text-center">Pack Ngew</h4>
        </div>
      </div>

      <!-- Item (Dinamis) -->
      <div class="container mt-4">
        <div
          class="row"
          id="PACK-NGEW"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
      </div>
    </div>
</Layout>