---
import Layout from "./layout.astro";
---

<Layout  active="kategori3" titlePage="Ngew" titleColor="danger">
    <!-- Nav Button -->
    <div class="container mt-4">
      <div class="d-flex justify-content-center">
        <div
          class="btn-group w-100"
          role="group"
          aria-label="Basic example"
        >
          <a
            href="#NGOBROL"
            class="btn btn-outline-primary"
            >Ngew Ngobrol</a
          >
          <a
            href="#DIEM"
            class="btn btn-outline-danger"
            >Ngew Diem</a
          >
          <a
            href="#BERISIK"
            class="btn btn-outline-success"
            >Ngew Berisik</a
          >
        </div>
      </div>
    </div>

    <!-- Kategori sub 1 -->
    <div>
      <div class="container mt-4">
        <div
          class="alert alert-dark d-flex align-items-center justify-content-center"
          role="alert"
        >
          <h4 class="alert-heading text-center">Ngew Ngobrol</h4>
        </div>
      </div>

      <!-- Item (Dinamis) -->
      <div class="container mt-4">
        <div
          class="row"
          id="NGOBROL"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
      </div>
    </div>

    <!-- Kategori sub 2 -->
    <div>
      <div class="container mt-4">
        <div
          class="alert alert-dark d-flex align-items-center justify-content-center"
          role="alert"
        >
          <h4 class="alert-heading text-center">Ngew Diem</h4>
        </div>
      </div>

      <!-- Item (Dinamis) -->
      <div class="container mt-4">
        <div
          class="row"
          id="DIEM"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
      </div>
    </div>

    <!-- Kategori sub 3 -->
    <div>
      <div class="container mt-4">
        <div
          class="alert alert-dark d-flex align-items-center justify-content-center"
          role="alert"
        >
          <h4 class="alert-heading text-center">Ngew Berisik</h4>
        </div>
      </div>

      <!-- Item (Dinamis) -->
      <div class="container mt-4">
        <div
          class="row"
          id="BERISIK"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
      </div>
    </div>
</Layout>