---
import Layout from "./layout.astro";
---

<Layout  active="kategori6" titlePage="Colmek" titleColor="info">
    <div class="container mt-4">
        <div
          class="row"
          id="COLMEK"
        >
          <!-- Produk akan ditambahkan di sini -->
        </div>
    </div>
</Layout>