<div class="container mt-4">
    <div
      class="alert alert-danger"
      role="alert"
    >
      <h4 class="alert-heading">Perhatian !</h4>
      <p>Konten yang ada di website ini hanyalah koleksi pribadi pemilik website. Anonim atau bukan pemilik website tidak dapat mengakses gambar atau video yang ditampilkan dalam website ini.</p>
      <hr />
      <p class="mb-0">Jika anda bukan pemilik website ini, segera tinggalkan atau close website ini.</p>
    </div>
</div>