<div class="container">
    <div class="list-group pb-4">
      <a
        href="/kategori1"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Showoff</h5>
        </div>
        <p class="mb-1">Hanya menunjukan badan.</p>
      </a>
      <a
        href="/kategori2"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nyep***</h5>
        </div>
        <p class="mb-1">Hisap.</p>
      </a>
      <a
        href="/kategori3"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Ngew*</h5>
        </div>
        <p class="mb-1">Masukkin ke badan.</p>
      </a>
      <a
        href="/kategori4"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Pack</h5>
        </div>
        <p class="mb-1">Ada dua pack.</p>
      </a>
      <a
        href="/kategori5"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Vira*</h5>
        </div>
        <p class="mb-1">Yang sempet trend.</p>
      </a>
      <a
        href="/kategori6"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Colm*</h5>
        </div>
        <p class="mb-1">Main sendiri.</p>
      </a>
      <a
        href="/kategori7"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Foto</h5>
        </div>
        <p class="mb-1">Cuman Foto.</p>
      </a>
    </div>
</div>